@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

:root{
  --artelak-blue: #12284c;
  --artelak-lightblue: #dce0e5;
  --artelak-ocre: #cc9e6a;
  --artelak-lightocre: #f2d9c7;
}

.bottom__nav{
  width: 100%;
  height: 70px;
  background: var(--artelak-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.bottom__nav > ul.nav__ul{
  position: relative;
  list-style: none;
  display: flex;
}

.bottom__nav ul.nav__ul li{
  width: 70px;
  height: 70px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.bottom__nav ul.nav__ul li.nav__li .nav__icon{
  position: relative;
  display: block;
  line-height: 80px;
  color: white;
  transition: 0.5s;
}

.bottom__nav ul.nav__ul li.nav__li.active .nav__icon{
  transform: translateY(-38px);
  color: white;
  
}

.bottom__nav ul.nav__ul li.nav__li .nav__name{
  position: absolute;
  transition: 0.3s;
  transform:translateY(50px);
  opacity: 0;
  font-size: 0.95em;
  font-weight: 600;
}

.bottom__nav ul.nav__ul li.nav__li.active .nav__name{
  transform: translateY(30px);
  opacity: 1;
  color: white;
}

.nav__indicator{
  position: absolute;
  top: -40px;
  background: var(--artelak-ocre);
  width: 70px;
  height: 70px;
  border:7px solid var(--artelak-blue);
  border-radius: 100%;
  transition: 0.5s;
}

.nav__indicator::before{
  content: '';
  position: absolute;
  top: 45%;
  left: -29.5%;
  height: 8px;
  width: 9.5px;
  border: 6px solid var(--artelak-blue);
  border-bottom-right-radius: 150px;
  border-left:none;
  border-top:none;
}
.nav__indicator::after{
  content: '';
  position: absolute;
  top: 45%;
  right: -29.5%;
  height: 8px;
  width: 9.5px;
  border: 6px solid var(--artelak-blue);
  border-bottom-left-radius: 150px;
  border-right:none;
  border-top:none;
}

.bottom__nav ul.nav__ul li.nav__li:nth-child(1).active ~ .nav__indicator{
  transform: translateX(calc(70px *0));
}

.bottom__nav ul.nav__ul li.nav__li:nth-child(2).active ~ .nav__indicator{
  transform: translateX(calc(70px *1));
}

.bottom__nav ul.nav__ul li.nav__li:nth-child(3).active ~ .nav__indicator{
  transform: translateX(calc(70px *2));
}

.bottom__nav ul.nav__ul li.nav__li:nth-child(4).active ~ .nav__indicator{
  transform: translateX(calc(70px*3));
}

.bottom__nav ul.nav__ul li.nav__li:nth-child(5).active ~ .nav__indicator{
  transform: translateX(calc(70px *4));
}